<li class="list-group-item">
	{{burger_name}}

	<button class="btn btn-outline-info btn-sm change-devour" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devour}}Fresh{{else}}Devour{{/if}}
	</button>
</li>